{% extends "base.html" %}
{% block title %}Home{% endblock %}
{% block page_content %}
    
<h1>Bienvenido a FarmaMura!</h1>

	<div class="Sistema por quien creado">
		<br>
		<br>
		<br>
		<br>
		<br>
		<br>
		<br>
		<br>
		<br>
		<br>
		<br>
		<br>
		<br>
		<br>
		<br>
		<br>
		<br>
		<br>
		<br>
		<br>
		<br>
		<br>
		<br>
		<br>
		<br>
		<br>
		<br>
		<br>
		<br>
		<br>
		<br>
		<br>
		<br>
		<br>
		<br>
		<br>

		

		<h6>Este Sistema fue creado por Guido Ignacio Muratore.</h6>
</div>
{% endblock %}